.user-view-page {

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .body {
    text-align: center;

    .ant-form-item {
      font-size: 18px;
    }
  }
}

.user-edit-page {
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .body {
    width: 50%;
    margin: 8px auto 0;
  }

  .submit-button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}