.dashboard-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .title {
    color: #00415a;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}

.dashboard-calls {
  flex: 25% 0 0;
}

.dashboard-goods {
  flex: 40% 0 0;
}

.dashboard-users {
  flex: 35% 0 0;
}

.dashboard-users-wrapper {
  display: flex;

  .chart {
    flex: 3 0 0;
  }

  .legend {
    flex: 1 0 0;
  }
}