ul.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background: transparent;

  .ant-menu-item {
    width: auto;
    background: #00415a;

    &.ant-menu-item-selected {
      background: #00b8ff;
    }
  }
}

